@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

.App {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 18pt;
  width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
  grid-template-areas: ". header header header header header header header header header header header header ."
  ". content content content content content content content content content content content content .";
  grid-template-rows: 100px auto;
}

.App header {
  grid-area: header;
}

.App main {
  grid-area: content;
}

.App header h1.title {
  font-size: 3em;
}

.App main section input,.App main section button {
  font-family : inherit;
  font-size   : 100%;
}

.App main section textarea {
  font-family : inherit;
  font-size   : 100%;
  width: 500px;
  height: 100px;
}