@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

.App {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 18pt;
  width: 100%;
  display: grid;
  grid-template-columns: calc(calc(100% - 900px) / 2) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(calc(100% - 900px) / 2);
  grid-template-areas: "header header header header header header header header header header header header header header"
  ". content content content content content content content content content content content content .";
  grid-template-rows: auto auto;
}

@media only screen and (max-device-width: 900px)
   { 
    .App {
      grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    }
}

.App header {
  grid-area: header;
  padding-bottom: 3em;
  background-color: black;
  color: white;
}

.App main {
  grid-area: content;
}

.App header h1.title {
  font-size: 3em;
}

.App main section input,.App main section button {
  font-family : inherit;
  font-size   : 100%;
}

section h2 {
  margin-top: 3em;
  padding-bottom: 0.6em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

time {
  display: block;
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 1.2em;
}

.ceremony a, .reception a {
  display: block;
  margin-top: 1em;
}

.address p {
  margin-bottom: 0.2em;
  margin-top: 0;
}

.App main section input {
  width: 500px;
}

.App main section textarea {
  font-family : inherit;
  font-size   : 100%;
  width: 500px;
  height: 100px;
}

@media only screen and (min-device-width: 375px)
   { 
    .App main section textarea {
      width: calc(100% - 20px);
    }

    .App main section input {
      width: calc(100% - 20px);
    }
}