@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700i,800,800i&display=swap');

.App {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 18pt;
  width: 100%;
  display: grid;
  grid-template-columns: calc(calc(100% - 900px) / 2) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(calc(100% - 900px) / 2);
  grid-template-areas: "header header header header header header header header header header header header header header"
  ". content content content content content content content content content content content content .";
  grid-template-rows: auto auto;
  font-variant-numeric: oldstyle-nums;
}

@media only screen and (max-device-width: 900px)
   { 
    .App {
      grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    }
}

.App header {
  grid-area: header;
  padding-bottom: 3em;
}

.App main {
  grid-area: content;
}

.App header h1.title {
  font-size: 3em;
  font-weight: 500;
  font-style: italic;
}

.App main section input, .App main section textarea {
  font-style: italic;
  font-family : inherit;
  font-size   : 100%;
}

.App main section button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family : inherit;
  font-size   : 100%;
  padding: 20px;
  font-weight: 600;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;
}

.App main section button:hover {
  background-color: darkgrey;
  border-color: darkgrey;
}

.App main section button:active {
  background-color: white;
  color: black;
  border-color: black;
}

section h2 {
  margin-top: 3em;
  font-weight: 500;
  padding-bottom: 0.6em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: darkgrey;
}

time {
  font-size: 1.4em;
}

.ceremony a, .reception a {
  display: block;
  margin-top: 1em;
}

.address p {
  margin-bottom: 0.2em;
  margin-top: 0;
}

.App main section input {
  width: 100%;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: darkgrey;
  box-sizing: border-box;
  border-radius: 6px;
}

.App main section textarea {
  font-family : inherit;
  font-size   : 100%;
  width: 100%;
  height: 200px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: darkgrey;
  box-sizing: border-box;
  border-radius: 6px;
}